---
import BaseLayout from '../../layout/BaseLayout.astro'

const allPosts = await Astro.glob('../posts/*.md')
const tags = [...new Set(allPosts.map((p) => p.frontmatter.tags).flat())]
---

<BaseLayout pageTitle="Tags">
  <div>{tags.map((t) => <li><a href={`/tags/${t}`}>#{t}</li></p>)}</div>
</BaseLayout>
