---
import Navigation from './Navigation.astro'
---

<>
  <h1 class="pt-[5vh] pb-[10px] text-2xl font-bold text-center">Karunon's Blog</h1>
  <div class="pb-[5vh] py-[10px] sticky top-0 text-center">
    <Navigation />
  </div>
</>
