---
import Navigation from './Navigation.astro'
---

<header>
  <div class="py-[5vh]">
    <h1 class="text-2xl font-bold">Karunon's Blog</h1>
    <div class="py-[10px]" />
    <Navigation />
  </div>
</header>
