---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import ColorLink from '../components/ColorLink.astro'

const { pageTitle } = Astro.props
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>karu's blog - {pageTitle}</title>
</head>
<body>
  <div class="flex">
    <div class="min-[100px] w-max-[600px] m-auto px-[50px]">
      <div class="text-center">
        <Header />
        <h1 class="text-3xl font-bold underline pb-[20px]">{pageTitle}</h1>
      </div>

        <slot />
        <div class="text-center">
          <Footer />
        </div>
    </div>
    <ColorLink />
  </div>
</body>
</html>
