---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import ColorLink from '../components/ColorLink.astro'

const { pageTitle } = Astro.props
---

<html lang="en" class="">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>karu's blog - {pageTitle}</title>
</head>
<body class="flex bg-orange-50 text-slate-700 dark:bg-slate-900 dark:text-slate-300">
  <div class="min-w-[100px] max-w-[500px] m-auto px-[50px]">
    <Header />
    <h1 class="text-3xl font-bold underline pb-[20px] text-center">{pageTitle}</h1>

    <slot />
    <div class="text-center">
      <Footer />
    </div>
  </div>
  <ColorLink />
</body>
</html>
